body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 10px;
}

.social-icons img {
    width: 50px; /* Ajusta el tamaño de los iconos según sea necesario */
    height: 50px;
}
