body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 3px 10px;

}


nav ul {

    list-style-type: none;
    padding-left: 5px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.main-nav__item a:hover {
    color:palegoldenrod;
}

section {
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position:fixed;
    bottom: 0;
    width: 100%;

}

.footer-content{
    display: flex;
    justify-content: center;
}


.footer-content a {
    display: inline-block;
    margin: 10px;
}

.footer-content img {
    width: auto; 
    height: 30px;
}


.title {
    text-align: center;
}

.font-sm {
    font-size: small;
}

.font-oblique {
    font-style: oblique;
}

.main-image {
    text-align: center;

}

.main-image img{
    width: 30%;
    height: auto;    
    display: block; /* Eliminar el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar la imagen horizontalmente */

}

.image-caption {
    padding-top: 5px;
}

p {
    text-align: justify;
}

.main-image figcaption {
    text-transform: uppercase;
    font-style: oblique;
    font-size: x-small;
}

.footer-text {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 4px;
    font-size:smaller;
}